div(id="#{m.id}" class="panel panel-#{color} method-bloc")
    div(class="panel-heading")
        div(class="row")
            div(class="col-sm-5") !{m.meth.toUpperCase()} !{r.url}
            div(class="cal-sm-7 tag-line")
                each val in m.tags
